@page "/"

<PageTitle>順番決めアプリ</PageTitle>

<h2>順番決めアプリ（一括表示）</h2>

<label style="display:block;">名前入力欄</label>
<textarea @bind="inputText" style="width: 300px; height: 200px;" maxlength="50" placeholder="改行区切りで入力(最大50文字)"></textarea>
<button @onclick="OnSetClicked">シャッフル</button>
<hr />

<h5>結果</h5>
<div hidden="@result">
    <ol>
        @foreach(var item in orderedList)
        {
            <li>@item</li>
        }
    </ol>
</div>

@code{
    private string inputText = "";
    private bool result = true;
    private List<string> orderedList = new List<string>();

    Random r = new Random();

    private void OnSetClicked()
    {
        orderedList.Clear();

        var nameList = inputText.Split(Environment.NewLine).ToList();

        int n = nameList.Count;
        for(int i =0; i < n; i++)
        {
            var randomNum = r.Next(0, n - i);
            orderedList.Add(nameList[randomNum]);
            nameList.RemoveAt(randomNum);
        }
        result = false;
    }
}