#InputArea {
    position: relative;
    display: inline-block;
    height: 200px;
}

    #InputArea textarea {
        width: 300px;
        height: inherit;
        resize: none;
    }

    #InputArea #buttonGroup {
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-width: 1px;
        color: black;
    }